h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
body{
    font-family: sans-serif;
    padding: 250px;   
}
.register{
    border: 10px solid black;
    padding: 1.5rem;
}